{% extends "pages/base.html" %}

{% block title %}
90p.tv | Xem bóng đá trực tuyến chất lượng HD, bình luận tiếng Việt
{% endblock title %}

{% block content %}
<div class="home-section section-banner">
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm ads-2">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/QHoZvtG.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
            <div class="hidden-md hidden-lg ads-2">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/2iVIhbo.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
            <div class="hidden-md hidden-lg ads-2">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/QHoZvtG.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
            <div class="hidden-md hidden-lg ads-2">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/QHoZvtG.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
        </div>    
            
        <div class="row ads-1 ">
            <div class="hidden-xs hidden-sm col-sm-6 ads">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/2iVIhbo.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-sm-6 ads">
                <a href="" target="_blank" class="banner-link">
                <video src="https://703531862.vws.vegacdn.vn/ads/2iVIhbo.webm" autoplay loop class="img-responsive" alt="debet.com"></video>
                </a>
            </div>
        </div>
        
        
    </div>
</div>

<section class="home-section section-playlist">


    <div class="container">
        <div class="home-section-body">
            <div class="playlist-block">
                <div class="col-xs-12 col-md-8">
                    <div class="player-block">
                        <div class="player-container" id="js-player-container">
                            <div class="player-mask" style="background: url(../703531862.vws.vegacdn.vn/ads/player.jpg);overflow: hidden;background-size: cover;background-position: center;">
                                                                <div class="black-gradient" style="
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    bottom: 0;
                                    top: 0;
                                    background-image: linear-gradient(-180deg,rgba(0, 0, 0, 0.33) 10%,rgba(0, 0, 0, 0.74) 80%);
                                    z-index: 2;
                                    left: 0;
                                ">
                                </div>
                                <div class="info" style="z-index: 3;">
                                    <a href="5e69608ea6651b14b574afc7.html" class="btn-play">
                                        <i class="icon icon-play"></i>
                                    </a>
                                    <h3 class="title text-bold">LASK - Manchester United</h3>
                                    <div class="time">
                                        00:55 Ngày mai</br>
                                        
                                    </div>
                                    <div class="divider hidden-xs"></div>
                                    <div class="league text-uppercase">
                                        <h4 style="font-weight: bold;">Europa League</h4>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
		
                
                <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                <a href="https://www.facebook.com/captain90m">
                <video src="https://703531862.vws.vegacdn.vn/ads/qGUnxtH.webm" autoplay loop class="img-responsive"></video></a>
                </div>

                
                </div>
            </div>
        </div>
    </div>
</section>



<div class="home-section section-banner">
    
    <div class="container">
        <div class="row">
                        <div>
                            <div class="list-channel col-xs-12 col-sm-12">
                                <a href="/" target="_blank" class="banner-link">
                                <video src="" autoplay loop class="img-responsive" alt="zbet.vn" ></video>

                                </a>
                            </div>
                            
                            <div class="list-channel col-xs-12 col-sm-6">
                                <a href="/" target="_blank" class="banner-link" style="margin-bottom: 0;">
                                    <video src="" autoplay loop class="img-responsive" style="border-radius: 10px;" alt="11bet" ></video>
                                </a>
                            </div>
                            
                            <div class="list-channel col-xs-12 col-sm-6">
                                 <a href="" target="_blank" class="banner-link" style="margin-bottom: 0;" title="bong99.fun" alt="bong99.fun">
                                    <video src="https://703531862.vws.vegacdn.vn/ads/g38H3Bk.webm" autoplay loop class="img-responsive" style="border-radius: 10px;" ></video>
                                </a>

                                
                            </div>
                            
                        
                            <div class="list-channel col-xs-12 col-sm-6">
                                <a href="" target="_blank" class="banner-link" style="margin-bottom: 0;">
                                    <video src="https://703531862.vws.vegacdn.vn/ads/xVpb28W.webm" autoplay loop class="img-responsive" style="border-radius: 10px;" title="One88.vn" alt="Nhà cái cá cược thể thao One88"></video>
                                </a>
                            </div>
                            
                            <div class="list-channel col-xs-12 col-sm-6">
                                <a href="" target="_blank" class="banner-link" style="margin-bottom: 0;" title="Cá cược bóng đá Lucky88" alt="Cá độ bóng đá Lucky88">
                                    <video src="https://703531862.vws.vegacdn.vn/ads/FQRMTzQ.webm" autoplay loop class="img-responsive" style="border-radius: 10px;"></video>
                                </a>
                            </div>
                            
                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afc4.html" class="item active1 " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/b_G6FYhPyTa_WdhdikiqyA_48x48.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/FjlPNK4kZUDzQp5-E3PAJg_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    Istanbul BB - Kobenhavn                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_77" class="live hidden-xs hidden-sm" data-time="2020-03-13 00:55" >Chưa diễn ra</span>00:55 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afc6.html" class="item  " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/VOizBJPDHnvnSaU3XPVGAw_48x48.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/_K3zLIxDIf0UXpiuHoMhmQ_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    Frankfurt - Basel                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_79" class="live hidden-xs hidden-sm" data-time="2020-03-13 00:55" >Chưa diễn ra</span>00:55 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afc7.html" class="item  " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../i.imgur.com/mUH1lAA.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/udQ6ns69PctCv143h-GeYw_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    LASK - Manchester United                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_80" class="live hidden-xs hidden-sm" data-time="2020-03-13 00:55" >Chưa diễn ra</span>00:55 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afc8.html" class="item  " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/FqnQ9nu7UDiSgnXKohdIgg_48x48.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/-WjHLbBIQO9xE2e2MW3OPQ_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    Olympiacos - Wolverhampton                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_81" class="live hidden-xs hidden-sm" data-time="2020-03-13 03:00" >Chưa diễn ra</span>03:00 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afc9.html" class="item  " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/VJtO19cqg-zp3wuDuOwqAg_48x48.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/0zIcXiwD_JGY482DFC28Lw_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    Rangers - Bayer Leverkusen                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_82" class="live hidden-xs hidden-sm" data-time="2020-03-13 03:00" >Chưa diễn ra</span>03:00 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        <div class="list-channel col-xs-12 col-sm-6">
                                <a href="5e69608ea6651b14b574afca.html" class="item  " title="">
                                    <div class="row row-eq-height" style="background-color: #506b4e54;border-radius: 20px;">
                                        <div class="col-xs-5">
                                            <div class="thumb clearfix">
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/nCdwmPlnAA041M4HDMzmkg_48x48.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="team col-xs-6">
                                                    <img src="../ssl.gstatic.com/onebox/media/sports/logos/3rx1dndeeE1gb97w6et-GA_48x48.png" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="info">
                                                <div class="league">
                                                    Europa League                                                </div>
                                                <div class="title">
                                                    Wolfsburg - Shakhtar Donetsk                                                </div>
                                                <div class="time">
                                                    <span id="statusstreaming_83" class="live hidden-xs hidden-sm" data-time="2020-03-13 03:00" >Chưa diễn ra</span>03:00 Ngày mai                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script type="text/javascript">
                                y =  setInterval(function() {
                                var now2 = new Date().getTime();
                                var lisID =  document.getElementById("listId2").value;
                                var colorlive2 = "#009b32";
                                if(lisID != '')
                                {
                                    arVal = lisID.replace(/^,/, '').split(",");
                                    arVal.forEach(function(element) {
                                      matchTime = document.getElementById("statusstreaming_" + element).dataset.time;
                                      time2 = new Date(matchTime).getTime();
                                      compaTime = time2 - now2;
                                     if (compaTime < 0) {
                                         document.getElementById("statusstreaming_" + element).innerHTML = "Đang diễn ra";
                                         document.getElementById("statusstreaming_" + element).style.background = colorlive2;
                                     }
                                    });
                                }
                                },1000);
                            </script>

                                                        
                        </div>
                        <input id="listId2"  type="hidden" value=",77,79,80,81,82,83">
                        
                        
                        
                </div>
                    
                    


    </div>
    
</div>

<div class="modal fade" id="overlay" >
  <div class="modal-dialog">
    <div class="" align="center">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
      <a href="" target="_blank" class="banner-link" title="Fabet.vip" alt="Fabet.vip"><video src="https://703531862.vws.vegacdn.vn/ads/9xwEcRK.webm" autoplay loop class="responsive" ></video></a>
      </div>
  </div>
</div>

{% endblock content %}